/* Credit: https://developer.mozilla.org/en-US/docs/Learn/Forms/How_to_structure_a_web_form, 
https://www.w3schools.com/css/css_form.asp */

h1 {
    margin: 0 auto;
}

body {
    background-color: lightblue;
}

form {
    background-color: grey;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 0 auto;
    
    padding: 1em;
    
    width: 400px;
}

footer {
    margin: 0 auto;
    text-align: center;
}

label span {
    display: inline-block;
    text-align: right;
    width: 120px;
    
}

input, textarea {
    
    border: 1px solid #999;
    box-sizing: border-box;
    font: 1em sans-serif;
    width: 250px;
    
}


input:focus, textarea:focus {
    border-color: #000;
}


label {
  position: relative;
}

button[type=submit] {
    background-color: #04AA6D;
    
    border-color: rgb(227, 251, 10);
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 20px 0 0 124px;
    padding: 16px 32px;

    
  }

  /* Responsive layout - when the screen is less than 600px wide */
@media screen and (max-width: 600px) {
    label, input, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }