/* Credit: https://www.w3schools.com/howto/howto_css_aspect_ratio.asp,
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_searchbar2,
https://www.w3schools.com/css/css3_animations.asp */

/* elements are in alphabetical order */

address * {
  animation-name: myemail;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
article {
  position:  absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 text-align: center;
 font-size: 20px;
 color: white;
}

article a {
  font-size: 20px;
  color: white;
  
}
  body {
    background-color: #111;
    
  }

  footer {
    background-color: #333;
    color: white;
    padding: 14px 16px;
    
  }

 

  h1 {
      font-size: 9rem;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;

  }

  h2 {
    
  position: absolute;
  
  left: 0;
  bottom: 10%;
  right: 0;
}

  img {
    width:100%;
      height:100%;
      object-fit: cover;
  }

img:hover {
  opacity: 0.9;
  
}

@keyframes myemail {
  0% {color: white;}
  50% {color: #333;}
  100% {color: white;}
}
  
  
@media only screen and (max-width: 1050px) {
  h1 {
    font-size: 5rem;
  }
}

  @media only screen and (max-width: 600px) {
    section {
      background-color: lightblue;
      
      padding-top: 100%; /* 1:1 Aspect Ratio */
    }
    
    nav input[type=text], nav .search-container button {
      width: 70px;

    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 0.8rem;
    }
  }

  nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  nav .navabout {
    background-color: #2c6cb6;
    float: right;
    position: relative;
  }

  nav .search-container {
    float: right;
  }
  
  nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  nav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  nav .search-container button:hover {
    background: #ccc;
  }

  

section {
  background-color: rgb(119, 110, 110);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1.5rem 0 1.5rem 0;
  border: none;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}


section:hover {
  box-shadow: 0 12px 32px 0 rgba(0,0,0,0.2);
}

  

